/* =============================================================================
Buttons
============================================================================= */

.btn-turing {
  color: @turingBlue;
  background-color: white;
  border: none;
}

.btn-turing:hover {
  text-decoration: none;
  color: @turingYellow;
}

.btn-lg {
  font-size: 21px;
  line-height: 25px;  
}

.btn-margin {
  margin-top: 40px;
  margin-bottom: 20px;
}

.btn-center {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  display: block;
}

.btn-padding {
  padding: 12px 20px;
}

